        <div class="templatemo-slide">
            <!-- Carousel https://stackoverflow.com/a/50276864/4058484 -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption carousel-uppercase">
                                <h1>{{ page.welcome_slide0 }}</h1>
                                <p>{{ page.welcome_slide0_description }}</p>
                                <p><a href="#chetabahana-{{ page.service_title0 }}" class="btn btn-lg btn-orange" role="button" style="margin: 20px;">{{ page.service_title0 }}</a> 
                                    <a href="#chetabahana-{{ page.service_title1 }}" class="btn btn-lg btn-orange" role="button">{{ page.service_title1 }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption carousel-uppercase">
                                <h1>{{ page.welcome_slide1 }}</h1>
                                <p>{{ page.welcome_slide1_description }}</p>
                                <p><a href="#chetabahana-{{ page.service_title2 }}" class="btn btn-lg btn-orange" role="button" style="margin: 20px;">{{ page.service_title2 }}</a> 
                                    <a href="#chetabahana-{{ page.service_title3 }}" class="btn btn-lg btn-orange" role="button">{{ page.service_title3 }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption carousel-uppercase">
                                <h1>{{ page.welcome_slide2 }}</h1>
                                <p>{{ page.welcome_slide2_description }}</p>
                                <p><a href="#chetabahana-{{ page.service_title4 }}" class="btn btn-lg btn-orange" role="button" style="margin: 20px;">{{ page.service_title4 }}</a> 
                                    <a href="#chetabahana-{{ page.service_title5 }}" class="btn btn-lg btn-orange" role="button">{{ page.service_title5 }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="https://github.com/chetabahana/chetabahana.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/github/forkme_chetabahana_project.png" alt="Fork me on GitHub" /></a>
            </div><!-- /#templatemo-carousel -->
        </div><!-- /{{ section.title }} -->