# Default
Music/
Links/
source/
Videos/
Videos/
Desktop/
AppData/
Contacts/
OneDrive/
Searches/
Pictures/
Libraries/
Documents/
Downloads/
Favorites/
AccountPictures/
MicrosoftEdgeBackups/

# Dependency
build/
node_modules/
jspm_packages/
nvvp_workspace/
getting-started/

# Logs
logs
*.log
ntuser.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids
*.ini
*.lnk
*.dat
*.tgz
*.pid
*.seed
*.pid.lock

# Optional
.npm
.next
.eslintcache
.bash_history
.python_history
.node_repl_history

# Dotenvs
.env
.aws/
.ssh/
.azure/
.gnupg/
.keras/
.conda/
.condarc
.docker/
.eclipse/
.astropy/
.minttyrc
.gitconfig
.matplotlib/
.virtualenvs/
.continuum/
.ipython/
.jupyter/
.spyder-py3/
