        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKD75D8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->       
	    
       <!-- Facebook JSSDK (noscript) -->
        <div id="fb-root"></div>
	
        <div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">
                    <div id="phone" class="pull-left">
                            <img src="globe-16x16.png" alt="Projek Chetabahana | Situs GitHub dari Toko Chetabahana menuju Market Leader untuk e-Shop di Indonesia."/>
                            <a href="https://chetabahana.com/blog/we-are-going-to-win-the-market" target="_blank" class="link_orange"><span class="txt_orange">Site News </span></a>
                    </div>
                    <div id="email" class="pull-right">
                            <img src="favicon-16x16.png" alt="Chetabahana.com | Situs Belanja Jual-Beli Barang dan Promo Aneka Produk Fashion, Busana Muslim, Bayi & Anak-anak, Kecantikan, Tas, Sepatu, Peralatan Rumah Tangga, Elektronik, Makanan & Minuman Kemasan, dll.  "/>
                            <a href="https://www.juicer.io/chetabahana" target="_blank" class="link_orange"><span class="txt_orange">Site Feed </span></a>
                    </div>
                </div>
            </div>
        </div>
		
        <div class="templatemo-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a href="/" class="navbar-brand" title="Chetabahana"><img src="logo.png" alt="chetabahana-logo" title="The world of High-yield Investment Program" /></a>
                        </div>
                        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="active"><a href="#templatemo-top">BERANDA</a></li>
                                <li><a href="#templatemo-welcome">{{ page.service_title0 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title1 }}">{{ page.service_title1 }}</a></li>
                                <li><a href="#templatemo-blog">{{ page.service_title2 }}</a></li>
                                <li><a href="#templatemo-portfolio">{{ page.service_title3 }}</a></li>
                                <li><a href="#templatemo-footer">{{ page.service_title4 }}</a></li>
                                <li><a href="#templatemo-about">{{ page.service_title5 }}</a></li>
                                <li><a href="#templatemo-bottom">{{ page.service_title6 }}</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div> <!-- /container -->
        </div>
        
        <div class="templatemo-slide">
            <!-- Carousel https://stackoverflow.com/a/50276864/4058484 -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption carousel-uppercase">
                                <h1>{{ page.welcome_slide0 }}</h1>
                                <p>{{ page.welcome_slide0_description }}</p>
                                <p><a href="#templatemo-welcome" class="btn btn-lg btn-orange" role="button" style="margin: 20px;">{{ page.service_title0 }}</a> 
                                	<a href="#templatemo-portfolio" class="btn btn-lg btn-orange" role="button">{{ page.service_title1 }}</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption carousel-uppercase">
                                <h1>{{ page.welcome_slide1 }}</h1>
                                <p>{{ page.welcome_slide1_description }}</p>
                                <p><a href="#templatemo-blog" class="btn btn-lg btn-orange" role="button" style="margin: 20px;">{{ page.service_title2 }}</a> 
                                	<a href="#templatemo-contact" class="btn btn-lg btn-orange" role="button">{{ page.service_title3 }}</a></p>
                            </div>
                        </div>
                     </div>
                        <div class="item">
                        <div class="container">
                            <div class="carousel-caption carousel-uppercase">
                                <h1>{{ page.welcome_slide2 }}</h1>
                                <p>{{ page.welcome_slide2_description }}</p>
                                <p><a href="#templatemo-about" class="btn btn-lg btn-orange" role="button" style="margin: 20px;">{{ page.service_title4 }}</a> 
                                	<a href="#templatemo-bottom" class="btn btn-lg btn-orange" role="button">{{ page.service_title5 }}</a></p>
                            </div>
                        </div>
                         </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="https://github.com/chetabahana/chetabahana.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/github/forkme_chetabahana_project.png" alt="Fork me on GitHub" /></a>
            </div><!-- /#templatemo-carousel -->
        </div>
