        <!-- jQuery https://code.jquery.com/ -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
        <!-- Bootstrap CDN https://blog.getbootstrap.com/2014/02/13/bootstrap-3-1-1-released/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="js/disqus.js"></script>
        <script src="route/d3.min.js"></script>
        <script src="cards/widget.js"></script>
        <script src="slick/slick/slick.min.js"></script>
        <script src="prefixfree/prefixfree.min.js"></script>
        <script src="scroll/jquery.simplyscroll.min.js"></script>
        <script src="stickUp/js/stickUp.min.js"></script>
        <script src="colorbox/jquery.colorbox-min.js"></script>
        <script src="js/coffee/trycoffee.js"></script>
        <script src="underscore/underscore-min.js"></script>
        <script src="sequence/js/webfont.js"></script>
        <script src="sequence/js/snap.svg-min.js"></script>
        <script src="sequence/js/svginnerhtml.min.js"></script>
        <script src="flowchart/raphael-min.js"></script>
        <script src="ace-builds/src-min/ace.js"></script>
        <script src="skema/js/draw.js"></script>
        <script src="function.js"></script>
