        <script type="text/javascript" src="js/d3.min.js"></script>
        <script type="text/javascript" src="js/disqus.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="skema/js/draw.js"></script>
        <!-- script type="text/javascript" src="js/prototype.js"></script -->
        <!-- script type="text/javascript" src="js/juicer.min.js"></script -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/stickUp.min.js"></script>
        <script type="text/javascript" src="js/prefixfree.min.js"></script>
        <script type="text/javascript" src="js/templatemo_script.js"></script>
        <script type="text/javascript" src="js/coffee/trycoffee.js"></script>
        <script type="text/javascript" src="js/colorbox/colorbox-min.js"></script>
        <script type="text/javascript" src="ace-builds/src-min/ace.js"></script>
        <!-- script type="text/javascript" src="feed/js/instafeed.min.js"></script -->
        <script type="text/javascript" src="slick/slick/slick.min.js"></script>
        <script type="text/javascript" src="scroll/jquery.simplyscroll.min.js"></script>
        <script type="text/javascript" src="sequence/js/webfont.js"></script>
        <script type="text/javascript" src="sequence/js/snap.svg-min.js"></script>
        <script type="text/javascript" src="sequence/js/svginnerhtml.min.js"></script>
        <script type="text/javascript" src="flowchart/raphael-min.js"></script>
        <script type="text/javascript" src="underscore/underscore-min.js"></script>
