        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKD75D8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">
                    <div id="phone" class="pull-left">
                            <img src="/images/icon/globe-16x16.png" alt="Projek Chetabahana | Situs GitHub dari Toko Chetabahana menuju Market Leader untuk e-Shop di Indonesia."/>
                            <a href="https://chetabahana.com/blog/we-are-going-to-win-the-market" target="_blank" class="link_orange"><span class="txt_orange">Site News </span></a>
                    </div>
                    <div id="email" class="pull-right">
                            <img src="/images/icon/favicon-16x16.png" alt="Chetabahana.com | Situs Belanja Jual-Beli Barang dan Promo Aneka Produk Fashion, Busana Muslim, Bayi & Anak-anak, Kecantikan, Tas, Sepatu, Peralatan Rumah Tangga, Elektronik, Makanan & Minuman Kemasan, dll.  "/>
                            <a href="https://www.juicer.io/chetabahana" target="_blank" class="link_orange"><span class="txt_orange">Site Feed </span></a>
                    </div>
                </div>
            </div>
        </div>
		
        <div class="templatemo-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a href="/" class="navbar-brand" title="Chetabahana"><img src="logo.png" alt="chetabahana-logo" title="{{ page.slogan }}" /></a>
                        </div>
                        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="active"><a href="#templatemo-top">Beranda</a></li>{% for menu in page.menus %}
{{ menu }}
{% endfor %}
                                <li><a href="#chetabahana-{{ page.service_title0 }}">{{ page.service_title0 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title1 }}">{{ page.service_title1 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title2 }}">{{ page.service_title2 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title3 }}">{{ page.service_title3 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title4 }}">{{ page.service_title4 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title5 }}">{{ page.service_title5 }}</a></li>
                                <li><a href="#chetabahana-{{ page.service_title6 }}">{{ page.service_title6 }}</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div><!-- /container -->
        </div><!-- /top-menu -->