        <div class="templatemo-team" id="chetabahana-{{ page.title | downcase }}">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header">
                        <div class="text-center">
                            <h4>{{ page.title }}</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="row row_team">
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"><a href="https://www.facebook.com/chetabahana/" target="_blank">{{ page.team1_header }}</a></p>
                                    <p class="team-inner-subtext">{{ page.team1_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fchetabahana%2F&tabs&width=250&height=140&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=347564432313610" width="250" height="140" style="border:none;overflow:hidden;background:#FFFFFF" scrolling="no" frameborder="0" allowTransparency="false" allow="encrypted-media"></iframe>
                                    <div id="feeds"><ul class="juicer-feed" data-feed-id="chetabahana" data-after="updateFilters()"></ul></div>		
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"><a href="https://plus.google.com/104472163425461331070" target="_blank">{{ page.team2_header }}</a></p>
                                    <p class="team-inner-subtext">{{ page.team2_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <div class="g-person" data-width="250" data-href="//plus.google.com/104472163425461331070" data-rel="author"></div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"><a href="https://plus.google.com/104520374085958806528" target="_blank">{{ page.team3_header }}</a></p>
                                    <p class="team-inner-subtext">{{ page.team3_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                   <div class="g-page" data-width="250" data-href="//plus.google.com/104520374085958806528" data-rel="publisher"></div>
                               </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"><a href="https://plus.google.com/communities/100580130359124625791" target="_blank">{{ page.team4_header }}</a></p>
                                    <p class="team-inner-subtext">{{ page.team4_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <img src="images/partners/community.png">
                                    <div id="gfeeds"></div>
                                    <div class="g-community" data-width="250" data-href="https://plus.google.com/communities/100580130359124625791" data-showtagline="true" data-showphoto="false"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /{{ page.title }}-->