        <div class="templatemo-team" id="chetabahana-{{ page.title | downcase }}">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header">
                        <div class="text-center">
                            <h4>{{ page.title }}</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="row row_team">
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="member-thumb">
                                    <div class="github-card" data-github="Chetabahana" data-width="250" data-height="350" data-theme="medium"></div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="member-thumb">
                                    <div class="github-card" data-github="MarketLeader" data-width="250" data-height="350" data-theme="medium"></div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="member-thumb">
                                    <p class="team-inner-header"><a class="twitter-timeline" data-width="250" data-height="350" href="https://twitter.com/chetabahana?ref_src=twsrc%5Etfw">Tweets by chetabahana</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                                    <p class="team-inner-subtext">{{ page.team2_subtext }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="member-thumb">
                                    <div id="fb-root"></div><script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v5.0&appId=347564432313610&autoLogAppEvents=1"></script><div class="fb-page" data-href="https://www.facebook.com/chetabahana/" data-tabs="timeline" data-width="250" data-height="350" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/chetabahana/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/chetabahana/">Chetabahana</a></blockquote></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /{{ page.title }}-->