        <div class="templatemo-team" id="chetabahana-{{ page.title | downcase }}">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header">
                        <div class="text-center">
                            <h4>{{ page.title }}</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="row row_team">
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"><a href="https://www.facebook.com/chetabahana/" target="_blank">{{ page.team1_header }}</a></p>
                                    <p class="team-inner-subtext">{{ page.team1_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <div class="github-card" data-github="MarketLeader" data-width="250" data-height="350" data-theme="medium"></div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"></p>
                                </div>
                                <div class="member-thumb">
                                    <div class="github-card" data-github="Chetabahana" data-width="250" data-height="350" data-theme="medium"></div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"><a class="twitter-timeline" data-width="250" data-height="350" href="https://twitter.com/chetabahana?ref_src=twsrc%5Etfw">Tweets by chetabahana</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                                    <p class="team-inner-subtext">{{ page.team2_subtext }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div>
                                <div class="team-inner text-center">
                                    <p class="team-inner-header"></p>
                                </div>
                                <div class="member-thumb">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fchetabahana%2F&tabs&width=250&height=350&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=347564432313610" width="250" height="350" style="border:none;overflow:hidden;background:#FFFFFF" scrolling="no" frameborder="0" allowTransparency="false" allow="encrypted-media"></iframe>
                                    <div id="feeds"><ul class="juicer-feed" data-feed-id="chetabahana" data-after="updateFilters()"></ul></div>		
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /{{ page.title }}-->