        <div id="chetabahana-{{ page.title | downcase }}" class="chetabahana-{{ page.title | downcase }}">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header">
                        <h4>{{ page.title }}</h4>
                    </div>
                    <div class="col-md-4 skema_left">
                        <span>Status:</span>
                        <select class="theme">
                            <option value="hand" selected>Konsep</option>
                            <option value="simple">Progres</option>
                            <option value="priority" disabled="disabled">Urgensi</option>
                        </select>
                        <p>Tipe Diagram: <a id="type" href="/sequence" style="text-transform:capitalize;" target='_blank'>sequence</a></p>
                        <p id="tautan">Tautan: <a id="js" href="/skema/js/draw.js" target='_blank'>js</a> / <a id="xml" href="/feed.xml" target='_blank'>xml</a> / <a id="json" href="/feed.json" target='_blank'>json</a> / <a id="file" href="/feed.xslt.xml" target='_blank'>file</a> / <a id="link" href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fchetabahana.github.io%2F" target='_blank'>link</a> / <a id="from" href="https://api.github.com/users/chetabahana/repos" target='_blank'>from</a> / <a id="to" href="https://api.github.com/orgs/MarketLeader/repos" target='_blank'>to</a></p>
                        <div class="editor-wrapper">
                            <div id="editor" class="editor">{% include_relative skema/class/editor.md %}</div>
                        </div>
                        <p>Dokumentasi: <a href="https://github.com/chetabahana/chetabahana.github.io/wiki/Skema#modulasi">Konsep </a> - <a id="doc" href="https://github.com/chetabahana/chetabahana.github.io/wiki/Programming">Program</a> - <a href="https://github.com/chetabahana/chetabahana.github.io">Sumber</a> - <a href="https://github.com/chetabahana/chetabahana.github.io/actions">Proses</a> - <a href="https://github.com/chetabahana/chetabahana.github.io/releases">Realisasi</a>.</p>
                        <p>Silahkan <a href='https://jsfiddle.net/chetabahana/rrxnah40/'>sunting</a> dan <a href='#chetabahana-diskusi' class='internal-link'>usulkan</a> gambar <a href="#" class="download">bagannya..</a></p>
                    </div>
                    <div class="col-md-8 skema_right">
                        <div class="loadingImg"></div><div id="diagram" class="diagram"></div>
                        <div id="graphiql"></div ><div id="viewport"><canvas></canvas></div >
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /{{ page.title }}-->