<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html lang="en">
    <head>
{% include head.html %}    
    </head>
    <body>
{% include top.html %}
{% include abstrak.html %}					    
{% include skema.html %}					    
{% include eksekusi.html %}                
{% include portfolio.html %}											  
{% include publikasi.html %}							 
{% include network.html %} 	    
{% include diskusi.html %}       
{% include bottom.html %}   		
    </body>
</html>
