<!DOCTYPE html>
<html lang="en">
    <head>{% comment %}
*
*  This loop loops through a collection called `feeds` with category 'section'
*  and sorts it by the front matter variable 'weight' and than render
*  each of the {{ output }} with their own layout
*
*  To provide it with an online work you may see the running code here:
*  https://github.com/chetabahana/chetabahana.github.io/blob/master/_layouts/default.html
*
{% endcomment %}{% assign sections = site.feeds | sort: 'weight' | where_exp:"item", "item.category == 'section'" %}
{% for section in sections %}
{{ section.output }}
{% endfor %}
    </body>
</html>
   {%- for each in site.html_pages -%}
      <a href="{{ each.url | relative_url }}">{{ each.title }}</a></p>
   {%- endfor -%}
