st=&gt;start: Start|past:&gt;http://www.google.com[blank]\ne=&gt;end: End|future:&gt;http://www.google.com\nop1=&gt;operation: My Operation|past\nop2=&gt;operation: Stuff|current\nsub1=&gt;subroutine: My Subroutine|invalid\ncond=&gt;condition: Yes\nor No?|approved:&gt;http://www.google.com\nc2=&gt;condition: Good idea|rejected\nio=&gt;inputoutput: catch something…|future</p>\n\n<p>st-&gt;op1(right)-&gt;cond\ncond(yes, right)-&gt;c2\ncond(no)-&gt;sub1(left)-&gt;op1\nc2(yes)-&gt;io-&gt;e\nc2(no)-&gt;op2-&gt;e&lt;
st=>start: Start|past:>http://www.google.com[blank]
e=>end: End|future:>http://www.google.com
op1=>operation: My Operation|past
op2=>operation: Stuff|current
sub1=>subroutine: My Subroutine|invalid
cond=>condition: Yes
or No?|approved:>http://www.google.com
c2=>condition: Good idea|rejected
io=>inputoutput: catch something...|future

st->op1(right)->cond
cond(yes, right)->c2
cond(no)->sub1(left)->op1
c2(yes)->io->e
c2(no)->op2->e<
