{% assign object_path = page.redirect.from | remove_first: "/"  | remove_first: ".json" %}


{% assign my_array = object_path | split: "/" %}
{% for item in my_array limit:my_array.size %}  {{ item }}
  {% if item != "assets" %}
    {% assign my_array = my_array | splice: 0 %}
    {{ my_array }}
  {% else %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign object_path = my_array | join: "/" %}
{{ object_path }}
  
  {% assign object_items = site.assets | where_exp:"item", "item.path contains object_path" %}{{ object_items[0].content | strip_html | replace: "&amp;", "&" }}